<div droppable [dropScope]="'items-l'" class="list" (onDrop)="utilsService.onItemDrop($event, itemList)">
    <div draggable class="bg-success col-12 mb-1 mt-1 border d-flex" 
    [dragScope]="'items-r'" 
    [dragData]="itemL" 
    [class.border-danger]="itemL == itemInfo"
    *ngFor="let itemL of itemsLeft | filter : namesort | sort : sortOrder"
    (click) = "utilsService.sendItemInfo(itemL)">
        <span>{{ itemL.name }}</span>
        <div class="ml-auto d-flex">
            <div 
            *ngFor="let flag of itemL.flags"    
            class="flags {{FlagType[flag]}}" 
            ></div>
        </div>
    </div>
</div>