  <div class="list"
       (drop)="dndService.onDrop($event, items, itemList)"
       (dragover)="dndService.allowDrop($event)">
    <div class="bg-success col-12 mb-1 mt-1 border d-flex item"
         [class.border-danger]="item == itemInfo"
         draggable="true"
         (dragstart)="dndService.onDragStart($event, item, itemList)"
         (dragend) = "dndService.onDragEnd(items, item)"
         (click) = "setItemInfo(item)"
         *ngFor="let item of sortedItems; item as item">
      <span>{{ item.name}}</span>
      <div class="ml-auto d-flex">
        <div
          *ngFor="let flag of item.flags"
          class="flags {{FlagType[flag]}}">
        </div>
      </div>
    </div>
  </div>

