<div *ngIf = "itemList == ItemList.left">
  <input type="button" value="Items" (click)="getItems(itemsLeft)">
  <div class="list"
       (drop)="onDrop($event, itemList)"
       (dragover)="allowDrop($event)">
    <div class="bg-success col-12 mb-1 mt-1 border d-flex"
         draggable="true"
         (dragstart)="onDragStart($event, itemL)"
         (dragend) = "deleteItem(index)"
         [class.border-danger]="itemL == itemInfo"
         *ngFor="let itemL of utilsService.sortItems(utilsService.nameFilter(itemsLeft, nameToFilter), utilsService.getSortOrder())"
         (click) = "utilsService.sendItemInfo(itemL)">
      <span>{{ itemL.name }}</span>
      <div class="ml-auto d-flex">
        <div
          *ngFor="let flag of itemL.flags"
          class="flags {{FlagType[flag]}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf = "itemList == ItemList.right">
  <input type="button" value="Items" (click)="getItems(itemsRight)">
  <div class="list"
       (drop)="onDrop($event, itemList)"
       (dragover)="allowDrop($event)">
    <div class="bg-success col-12 mb-1 mt-1 border d-flex"
         draggable="true"
         (dragstart)="onDragStart($event, itemR)"
         (dragend) = "deleteItem(index)"
         [class.border-danger]="itemR == itemInfo"
         (click) = "utilsService.sendItemInfo(itemR)"
         *ngFor="let itemR of utilsService.filterByFlag(itemsRight, checkedFlags)">
      <span>{{ itemR.name }}</span>
      <div class="ml-auto d-flex">
        <div
          *ngFor="let flag of itemR.flags"
          class="flags {{FlagType[flag]}}"
        ></div>
      </div>
    </div>
  </div>
</div>
