<div class="container">
  <div class="row justify-center">

      <div class="col-3 mr-auto bg-info">
        <div class="p-2">
          <span class="align-self-center">Sort:</span>
          <input [(ngModel)]="cbSortOrder" type="checkbox" (change)="sortOrder = sortFilterService.invertSortOrder(cbSortOrder)" class="align-self-center">
          <input [(ngModel)]="nameToFilter" placeholder="Name filter" class="col-9 ml-auto">
        </div>
        <items [sortOrder]="sortOrder"
               [itemList]="ItemList.left"
               [nameToFilter]="nameToFilter"
               [itemInfo]="itemInfo"
               (itemInfoOut)="itemInfo = $event"></items>
      </div>

      <div class="col-3 text-center info py-2">INFO
        <div class="text-left">
          <span>Name : {{itemInfo.name}}</span>
        </div>
        <div class="d-flex">
          <span>Flags :</span>
          <div *ngFor="let flag of itemInfo.flags" class="flags {{FlagType[flag]}}"></div>
        </div>
      </div>

      <div class="col-3 ml-auto bg-info">
        <div class="row p-2">
            <span>Filter:</span>
            <filter-flags class="d-flex"
              (checkedFlagsOut)="checkedFlags = $event"></filter-flags>
        </div>
        <items [itemList]="ItemList.right"
               [itemInfo]="itemInfo"
               [checkedFlags]="checkedFlags"
               (itemInfoOut)="itemInfo = $event"></items>
      </div>

  </div>
</div>
