<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-center">

      <div class="col-3 mr-auto bg-info">
        <div class="col-12 d-flex p-2">Sort: 
          <input [(ngModel)]="checkboxFlag" type="checkbox" (change)="sortItems('name')"><input [(ngModel)]="namesort">
        </div>
        <!-- <div [dragula]='"bag-items"' [dragulaModel]="itemsLeft" [dragulaOptions]="options" class="list"> -->
          <items-l
          *ngFor="let itemL of itemsLeft | filter : namesort | sort:path:order"
          [itemL] = "itemL"
          (click) = "setInfo(itemL)"
          (ngModel) = "itemInfo"
          [itemInfo] = "itemInfo"
          ></items-l>
        <!-- </div> -->
      </div>

      <div class="col-3 text-center info py-2">INFO
        <div class="text-left">Name : {{itemInfo.name}}</div>
        <div class="d-flex">Flags : 
          <div *ngFor="let flag of itemInfo.flags" class="flags {{flag}}"></div>
        </div>
      </div>

      <div class="col-3 ml-auto bg-info">
        
        <div class="col-12 d-flex p-2">
            <span>Filter: </span>
          <div class="checkbox" *ngFor="let flag of filterFlags" >
            <input  type="checkbox" id={{flag.name}} 
            (change)="addFlag($event.srcElement, flag)">
            <label for="{{flag.name}}" class="{{flag.name}}" [class.active]="flag.checked"></label>
          </div>
        </div>
        
        <!-- <div [dragula]='"bag-items"' [dragulaModel]="itemsRight" [dragulaOptions]="options" class="list"> -->
          <items-r 
          *ngFor="let itemR of itemsRight | checkfilter: getCheckedFlags()" 
          [itemR] = "itemR"
          (click) = "setInfo(itemR)"
          (ngModel) = "itemInfo"
          [itemInfo] = "itemInfo"
          ></items-r>
        <!-- </div> -->
      </div>

  </div>
</div>