.flower{
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/flower.png);
}

.flash{
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/flash.png);
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.sun {
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/sun.png);
}
.heart{
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/heart.png);
}

label {
    width: 32px; 
    height: 32px;
}
label > input[type=checkbox]:checked{
    width: 5px!important;
 }
 .checked {
    width: 5px!important;
 }