.item {
  cursor: pointer;
}
.flags {
  position: relative;
  width: 24px;
  height: 24px;
  background: url(assets/images/unknown_flag24.png);
}
.default-bg {
  background: url(assets/images/unknown_flag24.png);
}
.list {
  overflow: auto;
  height:90vh;
}
.info {
  height: 100px;
  background: #c8d6da
}

.flower {
  background: url(assets/images/flower24.png);
}
.flash{
  background: url(assets/images/flash24.png);
}
.sun {
  background: url(assets/images/sun24.png);
}
.heart{
  background: url(assets/images/heart24.png);
}
.checkbox input[type=checkbox] {
  display:none;
}
.checkbox label {
	width: 24px;
  height: 24px;
  filter: grayscale(100%);
  cursor: pointer;
  margin: 0;
}
 .checkbox {
  position:relative;
 }

 .inactive {
  filter: grayscale(100%);
 }

 .active {
  filter: grayscale(0%) !important;
 }
